<div class="page">
    <mat-toolbar class="toolbar">
        <div style="display: grid; justify-items: center; cursor: pointer;">
            <span class="title-logo">Luana Rabelo</span>
            <span class="mat-caption">NAIL DESIGN</span>
        </div>
        <div style="display: flex;">
            <span class="mat-subheading-2">Sobre</span>
            <span class="mat-subheading-2">Contato</span>
        </div>
        <div *ngIf="false"><button mat-raised-button color="accent" >Agendar</button></div>
    </mat-toolbar>
    <div class="page-1">
        <div class="social-midia">
            <div class="divider"></div>
            <img src="assets/insta.svg" style="width: 24px; height: 24px;"  alt="">
            <img src="assets/location.svg" style="width: 24px; height: 24px;" alt="">
            <img src="assets/facebook.svg" style="width: 24px; height: 24px;" alt="">
            <img src="assets/whatsapp.svg" style="width: 24px; height: 24px;" alt="">
            <div class="divider"></div>
        </div>
        <div class="portifolio">

        </div>
    </div>
</div>
