.title-logo{
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
    height: 24px;
}

.mat-subheading-2{
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.page{
    height: 100%;
}

.toolbar{
    display: flex; 
    justify-content: space-between; 
    background: none; 
    height: 7%;
}

.page-1{
    height: 93%;
    width: 100%;
    display: flex;
}

.divider {
    border-left: 1px solid #2c2525;
    height: 100px;
}

.social-midia{
    height: 100%; 
    width: 12%;
    display: grid; 
    justify-content: center; 
    align-items: center; 
    justify-items: center;
}

.portifolio{
    height: 100%; 
    width: 88%;
}